<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Loginsuite">
	<test name="Login">
		<classes>
			<class name="Testcases.Loginpage" />
		</classes>
	</test>
	<test name="Creation of InterestChecking">
		<classes>
			<class name="Testcases.InterestChecking" />
		</classes>
	</test>
	<test name="Creation of StandaradChecking">
		<classes>
			<class name="Testcases.StandaradChecking" />
		</classes>
	</test>
	<test name="ViewChecking">
		<classes>
			<class name="Testcases.ViewChecking" />
		</classes>
	</test>
</suite>